<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :lat %>
    <%= form.text_field :lat, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :lng %>
    <%= form.text_field :lng, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if location.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', location, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if location.persisted? %>
      <%= link_to "Cancel", location, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", locations_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
